.logo {
    width: 40px;
    height: 40px;
    background-size: cover;
    display: block;
    content: url("../../src/svg/icon-social-google-plus.svg" param(--color pink));
    background: url("../../dist/img/spritemap#icon-social-google-plus" param(--color pink));
}